.contact{
    display: flex;
    position: relative;
    justify-content: center;
    height: 70vh;
    .c__left,.c__right{
        flex: 1;
    }
    .c__left{
        text-align: center;
        h1{
            font-size: 2.5rem;
            font-weight: bold;
            span{
                font-size: 2.5rem;
                font-weight: bold;
                color: var(--orange);
            }
        }
    }
    .c__right{
        form{
            width: 50%;
            display: flex;
            flex-direction: column;
            input,textarea{
                margin-bottom: 1.5rem;
                border: 2px solid var(--orange);
                border-radius: 5px;
                padding: 5px ;
                outline: none;
            }
            textarea{
                max-height: 150px;
            }
            button{
                display: block;
                width: fit-content;
                margin: auto;
                margin-bottom: 20px;
            }
            span{
                margin: auto;
                text-align: center;
            }
        }
    }
}

@media(max-width:767px){
    .contact{
        flex-direction: column;
        .c__right{
            margin: auto;
            form{
                margin: auto;
            }
        }
    }

}